version: '3.8'

services:
  studio:
    container_name: supabase-studio
    image: supabase/studio:latest
    restart: unless-stopped
    environment:
      STUDIO_PASSWORD: ${STUDIO_PASSWORD:-supa_secret}
    ports:
      - '3000:3000/tcp'
    command:
      - npm
      - run
      - start

  db:
    container_name: supabase-db
    image: supabase/postgres:15.1.0.117
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres -h localhost']
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - ./volumes/db:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-postgres}
      POSTGRES_USER: ${POSTGRES_USER:-postgres}

  auth:
    container_name: supabase-auth
    image: supabase/gotrue:v2.131.2
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    environment:
      GOTRUE_API_EXTERNAL_URL: ${GOTRUE_API_EXTERNAL_URL:-http://auth:9999}
      GOTRUE_JWT_SECRET: ${GOTRUE_JWT_SECRET:-super-secret-jwt-token-with-at-least-32-characters-long}
      GOTRUE_JWT_EXP: ${GOTRUE_JWT_EXP:-3600}
      GOTRUE_DB_DRIVER: postgres
      GOTRUE_DB_DATABASE_URL: postgres://postgres:${POSTGRES_PASSWORD:-postgres}@db:5432/${POSTGRES_DB:-postgres}?search_path=auth
      GOTRUE_DB_MIGRATIONS_PATH: /supabase/migrations/db/auth

  api:
    container_name: supabase-api
    image: supabase/postgres-meta:15.1.0.117
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    environment:
      PGRST_DB_SCHEMAS: public
      PGRST_DB_URI: postgres://postgres:${POSTGRES_PASSWORD:-postgres}@db:5432/${POSTGRES_DB:-postgres}
      PGRST_JWT_SECRET: ${GOTRUE_JWT_SECRET:-super-secret-jwt-token-with-at-least-32-characters-long}
      PGRST_JWT_EXP: ${GOTRUE_JWT_EXP:-3600}
      PGRST_ADMIN_EMAIL: ${PGRST_ADMIN_EMAIL:-admin@supabase.io}
      PGRST_ADMIN_PASSWORD: ${PGRST_ADMIN_PASSWORD:-admin}
      PGRST_JWT_ALGORITHM: HS256

  imgproxy:
    container_name: supabase-imgproxy
    image: supabase/imgproxy:latest
    environment:
      IMGPROXY_UPSTREAM: http://api:9000
    ports:
      - '9003:9003/tcp'

  realtime:
    container_name: supabase-realtime
    image: supabase/gotrue:v2.131.2
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    command:
      - /bin/sh
      - -c
      - /start.sh
    environment:
      GOTRUE_API_EXTERNAL_URL: ${GOTRUE_API_EXTERNAL_URL:-http://auth:9999}
      GOTRUE_JWT_SECRET: ${GOTRUE_JWT_SECRET:-super-secret-jwt-token-with-at-least-32-characters-long}
      GOTRUE_JWT_EXP: ${GOTRUE_JWT_EXP:-3600}
      GOTRUE_DB_DRIVER: postgres
      GOTRUE_DB_DATABASE_URL: postgres://postgres:${POSTGRES_PASSWORD:-postgres}@db:5432/${POSTGRES_DB:-postgres}?search_path=realtime
      GOTRUE_REALTIME_JWT_SECRET: ${GOTRUE_REALTIME_JWT_SECRET:-super-secret-realtime-jwt-token-with-at-least-32-characters-long}

  storage:
    container_name: supabase-storage
    image: supabase/storage-api:v0.47.10
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    environment:
      DATABASE_URL: postgres://postgres:${POSTGRES_PASSWORD:-postgres}@db:5432/${POSTGRES_DB:-postgres}
      ANON_KEY: ${ANON_KEY:-eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN1cGExIn0iOjE2MjY3Njc4NzMsImV4cCI6Im9uIn0iOjE5NjM5NDM5MH0.fQ}
      SERVICE_ROLE_KEY: ${SERVICE_ROLE_KEY:-eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN1cGExIn0iOjE2MjY3Njc4NzMsImV4cCI6Im9mIn0iOjE1NTQ2MzAyNzQzfQ}
      PGRST_JWT_SECRET: ${PGRST_JWT_SECRET:-super-secret-jwt-token-with-at-least-32-characters-long}
      PGRST_JWT_EXP: ${PGRST_JWT_EXP:-3600}
      REGION: ${REGION:-auto}
      PROJECT_REF: ${PROJECT_REF:-groceryguru}
      FILE_SIZE_LIMIT: ${FILE_SIZE_LIMIT:-5242880}
      STORAGE_BACKEND: file

  functions:
    container_name: supabase-functions
    image: supabase/edge-runtime:v1.55.7
    depends_on:
      - db
      - auth
      - storage
    restart: unless-stopped
    environment:
      JWT_SECRET: ${GOTRUE_JWT_SECRET:-super-secret-jwt-token-with-at-least-32-characters-long}
      SUPABASE_URL: ${SUPABASE_URL:-http://kong:8000}
      SUPABASE_ANON_KEY: ${ANON_KEY:-eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN1cGExIn0iOjE2MjY3Njc4NzMsImV4cCI6Im9mIn0iOjE1NTQ2MzAyNzQzfQ}
      SUPABASE_SERVICE_ROLE_KEY: ${SERVICE_ROLE_KEY:-eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN1cGExIn0iOjE2MjY3Njc4NzMsImV4cCI6Im9mIn0iOjE1NTQ2MzAyNzQzfQ}

  kong:
    container_name: supabase-kong
    image: kong:3.4-alpine
    depends_on:
      - api
      - auth
      - realtime
      - storage
      - functions
    restart: unless-stopped
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: db
      KONG_PG_PORT: 5432
      KONG_PG_USER: kong
      KONG_PG_PASSWORD: kong
      KONG_PASSWORD: ${KONG_PASSWORD:-kong}
      ENCRYPTION_PLUGINS_PATH: /usr/local/kong/plugins-priority
    ports:
      - '8000:8000/tcp'
      - '8443:8443/tcp'

volumes:
  db:
